log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
.sass-cache/
public/stylesheets/*.css
.rspec/
*.swp
*~
.DS_Store
public/images/system
public/system
public/.htaccess
public/assets
*.bak
Thumbs.db
.bundle
bin/
coverage/*
config/vhost.conf
