@import "compass/reset";
@import "compass/css3/border-radius";

html {
  height: 100%;

  body {
    background: #F2F2F2 url('/images/dashboard/html-bg.jpg') repeat-x left top;
    height: 100%;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 13.34px;


    #wrapper {
      min-height:100%;
      position:relative;
      overflow:hidden;

      input[type=text], input[type=password] {
        border: 2px solid #BBB;
        padding: 6px;
        display: block;
        width: 350px;
        margin: 5px 0;
      }

      textarea {
        border: 2px solid #DDD;
        width:  98%;
        padding: 10px;
        margin: 5px 0px 15px;
        display: block;
        height: 80px;
        overflow: auto;
      }

      select {
        display: block;
        margin: 10px 0;
      }

      h1, h2, h3, h4, h5, h6 {
        padding-bottom:10px;
        margin-bottom:10px;
        position:relative;
      }

      h1, h2 { border-bottom:1px solid #CCC; }

      h1 { font-size: 26px; }

      h2 { font-size: 20px; }

      h3 { font-size: 16px; }

      h4 { font-size: 14px; }

      h5 { font-size: 12px; }

      h6 { font-size: 10px; }

      #top, #nav, #footer, #content, .sub_nav {
        width: 98%;
        margin: 0 auto;
        position: relative;
      }

      #top {
        background-color: #2C3030;
        color: white;
        height: 74px;
        width: 100%;
      }

      #logo {
        background: transparent url('/images/dashboard/logo.png') no-repeat 0px 4px;
        font-family: "Cetury Gothic", sans-serif, arial;
        font-size: 15px;
        line-height: 14px;
        display: inline;
        margin-left: 10px;
        width: 352px;
        padding: 30px 0px;
        float: left;
      }

      #account_info {
        float: right;
        padding: 27px;

        a { color: #BBB; }
      }

      #nav_wrap {
        height: 89px;
        clear: both;

        #nav {
          list-style: none;
          overflow: hidden;

          a, a:active, a:visited {
            color: white;
            text-decoration: none;
            padding: 12px 16px 9px 16px;
            font-size: 17px;
            display: block;
          }

          a:hover, li.active a {
            background: #0057A9 url('/images/dashboard/nav-li-bg.png') repeat-x left top;
            padding: 10px 14px 9px 14px;
            @include border-radius(10px 10px 0px 0px);
          }

          li {
            float: left;
            margin-top: 10px;
            margin-right: 10px;
            @include border-radius(10px 10px 0px 0px);
          }

          li:hover, li.active {
            padding: 0px;
            border: 1px solid #33472C;
            border-bottom: 0px;
          }
        }

        .sub_nav {
          list-style: none;
          height: 36px;
          overflow: hidden;

          li {
            float: left;
            padding: 0 10px;
            margin-top: 10px;
            font-size: 12px;

            a {
              text-decoration: none;
              color: #BDF58F;
            }
          }

          li a:hover {
            color: white;
          }

          li.current span {
            color: #FFF;
          }
        }
      }

      #content_wrap {
        background-color: #F2F2F2;
        padding-bottom: 70px;

        #content {
          padding: 10px 0px;
          overflow: hidden;

          .buttonset label {
            margin-bottom: 5px;
            padding: 0px;
            font-weight: normal;
          }

          div.box {
            border: 1px solid gray;
            padding: 15px;
            background-color: #EEE;
            color: #333;

            p { line-height: 19px; }
          }

          #roles.box {
            ul li {
            list-style: none;

            label {
              display: inline;
              cursor: pointer;
              text-decoration: underline;
              font-size: 12px;
              font-weight: normal;
            }
          }
        }

          .ui-widget { font-size: 13px; }

          p {
            margin-bottom: 10px;
            font-size: 13px;
          }

          .module {
            border: 1px solid #CCC;
            background-color: white;
            margin-bottom: #393939;

            .module_body {
              background-color:#fefefe;
              margin:10px;
              color:#393939;

              #keyword_button {
                position: relative;
                top: -5px;
              }
            }

            h2.title {
              background: #ededed url('/images/dashboard/module-top.png') repeat-x left top;
              padding: 10px;
              display: block;
              border-bottom: 1px solid #CCC;
              color: #6A9158;
            }

            .tabular {
              width: 100%;
              margin-bottom: 10px;
              border-right: 1px solid #CCC;
              border-top: 1px solid #CCC;

              th {
                text-align: left;
                background-color: #EEE;
                padding: 10px 5px;
                border-right: 1px solid white;
                border-left: 1px solid #CCC;
              }

              td {
                padding: 5px;
                border-left: 1px solid #CCC;
                border-bottom: 1px solid #CCC;
              }

              tr.even {
                background-color: #EDF8FF;
              }
            }
          }
        }
      }

      #footer_wrap {
        background-color: #2C3030;
        color: white;
        width: 100%;
        height: 70px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;

        #footer {
          padding-top: 30px;
        }
      }
    }
  }
}

a, a:active, a:visited {
  color: #0069CB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  display: block;

  small {
    font-size: 12px;
    color: gray;
    font-weight: normal;
  }
}

/* Global status styles */

#wrapper {
  .error, .warning, .info, .success {
    padding:10px;
    padding-left:40px;
    margin:10px 0px;
  }

  .error{
    border:1px solid #ff9b9b;
    background:#ffd3d3 url('/images/dashboard/error.png') no-repeat 10px 7px;
    color:#de1414;
  }

  .info {
    border:1px solid #5abef3;
    background:#d9f4ff url('/images/dashboard/info.png') no-repeat 10px 7px;
    color:#0069cb;
  }

  .success {
    border:1px solid #78ce4d;
    background:#e8ffe2 url('/images/dashboard/success.png') no-repeat 10px 7px;
    color:#007e1b;
  }

  .warning {
    border: 1px solid #c4bc16;
    background: #fffed7 url('/images/dashboard/warning.png') no-repeat 10px 7px;
    color: #6e6000;
  }

  .clear {
    clear:both;
    line-height:1px;
    font-size:1px;
  }

  .center { text-align: center; }

  .left { text-align: left; }

  .right { text-align: right; }

  .float_right { float: right; }

  .float_left { float: left; }

  .bold { font-weight: bolder; }

  #content {
    .columns{
      overflow:hidden;
      .half {
        display: inline;
        width: 49%;
        float: left;
        margin-right: 1%;

        h1 span.right, h2 span.right, h3 span.right, h4 span.right, h5 span.right, h6 span.right {
          position: absolute;
          float: right;
          margin-top: 0px;
          right: 0px;
        }
      }
    }

    .icon {
      background-position: 0 40%;
      padding-left: 20px;
      padding-right: 5px;
      padding-bottom: 5px;
    }

    .icon.edit {
      background: url('/images/dashboard/icons/pencil.png') no-repeat;
    }

    .icon.delete {
      background: url('/images/dashboard/icons/delete.png') no-repeat;
    }

    .icon.add {
      background: url('/images/dashboard/icons/add.png') no-repeat;
    }

    .icon.accept {
      background: url('/images/dashboard/icons/accept.png') no-repeat;
    }

    .icon.disk {
      background: url('/images/dashboard/icons/disk.png') no-repeat;
    }
  }
}

.field_with_errors input, .field_with_errors textarea {
  background-color: #FFAAAA;
  border: 2px solid #A00000 !important;
  color: #AA0000;
}

.wym_section.wym_dropdown {
  display: none;
}

.wym_skin_compact {
  border: 0px !important;
  padding: 5px 15px;
}

ul{
  list-style: disc outside none;
}

ol{
  list-style: decimal outside none;
  margin-left:25px;
}