= tabs_tag open_tabs: { id: "sub_menu", class: "sub_nav" } do |tab|
  = tab.list_pages  t('links.item_list',  item: Page.model_name.human(count: 0)), dashboard_pages_path
  = tab.new_page    t('links.new_item',   item: Page.model_name.human),           new_dashboard_page_path
