= tabs_tag open_tabs: { id: "sub_menu", class: "sub_nav" } do |tab|
  = tab.list_sections t('links.item_list',  item: Section.model_name.human( count: 0 )),  dashboard_sections_path
  = tab.new_section   t('links.new_item',   item: Section.model_name.human),              new_dashboard_section_path
