= tabs_tag open_tabs: { id: "sub_menu", class: "sub_nav" } do |tab|
  = tab.list_settings t('links.item_list',  item: Setting.model_name.human( count: 0 )),  dashboard_settings_path
  = tab.new_setting   t('links.new_item',   item: Setting.model_name.human),              new_dashboard_setting_path
