= tabs_tag open_tabs: { id: "sub_menu", class: "sub_nav" } do |tab|
  = tab.list_users  t('links.item_list', item: User.model_name.human(count: 0)),  dashboard_users_path
  = tab.edit_user   t('links.item_edit', item: User.model_name.human),            edit_user_registration_path
